<% content_for :title do %>About<% end %>
<h3>About Amazon Drone</h3>
<p>How hard could it be to create the infrastructure required to allow drone delivery of goods?  This project is desiged to see how difficult it would be to generate a drone mission file based on an HTML-5 generated geo-location</p>
